:root {
  --primary-color: #010914;
  --secondary-color: #95adcf;
  --overlay-color: #fff;
  --circle-color: #95adcf0a;
  --box-shadow-color: #03142b;
}

.light_mode {
  --primary-color: #95adcf;
  --secondary-color: #010914;
  --overlay-color: #000;
  --circle-color: #0109140a;
  --box-shadow-color: #819cc1fc;
}

/* html tags */

*, html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Montserrat", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background-color: unset;
  border: unset;
  color: var(--secondary-color);
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

header,
footer {
  position: absolute;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

footer {
  font-family: "Hind", sans-serif;
  bottom: 5px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0;
  font-weight: 400;
  pointer-events: none;
}

h2 {
  font-family: "Hind", sans-serif;
  font-size: larger;
  pointer-events: none;
  font-weight: 400;
}

h3 {
  pointer-events: none;
  margin-top: 0;
}

ul {
  list-style-type: none
}

::-webkit-scrollbar {
  display: none;
}

/* overall classes */

.border {
  position: fixed;
  z-index: 1;
  left: 40px;
  right: 40px;
  top: 40px;
  bottom: 40px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
}

.logo {
  margin: 20px 40px;
  height: 55px;
}

.logo-color {
  fill: var(--secondary-color);
}

.toggle-container {
  margin-right: 40px;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.aleb-btn {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  transition: all 0.5s ease;
  width: 50px;
  height: 50px;
}

.aleb-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.main {
  padding: 0 40px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 80px);
  height: 100%;
}

.main-inline {
  display: inline-flex;
  align-items: center;
  justify-content: space-between !important;
  flex-direction: row !important;
}

.nav-title:hover::before,
.contact-option:hover::before {
  width: 100%;
}

.nav-title,
.contact-title {
  font-size: 45px;
}

.vertical-lr {
  writing-mode: vertical-lr;
  font-size: 65px;
  rotate: 180deg;
  transition-duration: 0.9s !important;
  pointer-events: none;
}

.nav-title,
.contact-option {
  position: relative;
}

.nav-title::before,
.contact-option::before {
  position: absolute;
  color: var(--overlay-color);
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: all 0.5s;
}

.spaced-text {
  font-family: "Hind", sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
  pointer-events: none;
}

.ripple-background {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.circle {
  grid-row-start: 1;
  grid-column-start: 1;
  border-radius: 50%;
  background: var(--circle-color);
  animation: ripple 15s infinite;
  box-shadow: 11px 6px 15px 0px var(--box-shadow-color);
  aspect-ratio: 1/1;
}

/* theme toggler */

.checkbox {
  height: 50px;
  width: 100px;
  background: #001533;
  appearance: none;
  border-radius: 160px;
  box-shadow: inset 0 8px 60px rgba(255, 255, 255, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  outline: none;
  cursor: pointer;
  margin: 0 30px;
}

.checkbox::before {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: linear-gradient(to bottom, #00142f, #010914);
  border-radius: 50px;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 4px 4px rgba(255, 255, 255, 0.2),
    inset -4px 4px rgba(255, 255, 255, 0.2);
}

.checkbox:checked {
  background: #95adcf;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

/* add transition time programatically */

.transition-time {
  transition: 0.5s;
}

.checkbox.transition-time::before {
  transition: 0.5s;
}

.checkbox:checked::before {
  left: 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 4px 4px rgba(255, 255, 255, 1), inset -4px 4px rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom, #8ca3c3, #95adcf);
}

/* dropdown menu button */

.dropdown-btn {
  padding: 0;
  border: none;
  width: 50px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-btn div {
  width: 45px;
  height: 5px;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  transition: all 0.5s ease;
}

.dropdown-btn:hover div,
.dropdown-btn:focus div {
  background-color: var(--secondary-color);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  position: absolute;
  background-color: transparent;
  min-width: 135px;
  overflow: auto;
  right: 0;
}

.dropdown-content a {
  padding: 8px 16px;
  display: block;
  margin: 10px 0;
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  transition: all 0.5s ease;
  background-color: var(--primary-color);
}

.dropdown-content a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.show {
  visibility: visible;
  opacity: 1;
}

.change .bar1 {
  transform: translate(0, 15px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -15px) rotate(45deg);
}

/* home classes */

.intro {
  width: 65%;
}

.name {
  font-size: 60px;
  font-weight: 600;
}

.nav-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-link {
  margin: 10px 0;
  text-decoration: none;
  color: unset;
}

#nav-about::before, #nav-experience::before, #nav-projects::before {
  content: attr(data-content);
}

#nav-contact::before {
  content: "contact";
}

.char {
  font-size: 50px;
  height: 50px;
  animation: dropAnimation 1s ease-out 1 both;
  display: inline-block;
}

.copyright {
  pointer-events: none;
  font-size: 12px;
}

/* about classes */

.about-text {
  width: 35%;
}

.about-container {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.profile-img {
  width: 400px;
}

/* experience classes */

.resume {
  width: 100%;
  text-align: end;
}

.resume-text {
  font-family: "Hind", sans-serif;
  width: 100%;
}

.resume-static-text {
  pointer-events: none;
}

.experience-wrapper {
  width: 60%;
  height: 85%;
  max-width: 650px;
  margin-right: 25%;
  margin-top: 100px;
  overflow: auto;
}

.experience-container {
  margin: 0 50px 50px 0;
}

.work-history {
  display: inline-flex;
  margin-bottom: 50px;
}

.left-panel {
  margin-right: 50px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.year {
  margin-top: 10px;
  font-size: 14px;
}

.technologies-chips {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  padding: 5px 10px;
  pointer-events: none;
  background: #492e36;
  color: #95adcf;
  border-radius: 20px;
  margin: 5px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* projects classes */

.projects-list {
  height: calc(100vh - 180px);
  position: relative;
  width: 100%;
}

.projects-list ul {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 50px));
}

.projects-list ul li {
  margin: 10px 0;
}

#nav-aleb::before {
  content: "aleb";
} 

#nav-suna-dubios::before {
  content: "Suna_dubios?";
}

.project-main {
  height: 100%;
  overflow: auto;
}

.project-header {
  position: relative;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: auto;
}

.project-title {
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.project-theme {
  font-weight: 600;
}

.project-date {
  font-size: 14px;
}

.detail-item {
  margin: 5px 0;
}

.project-description {
  width: 60%;
  margin: 30px auto 50px;
}

.description-text {
  text-align: center;
}

.project-chips {
  justify-content: center;
}

.project-image-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.project-image {
  width: 49%;
  margin-bottom: 10px;
}

/* contact classes */

.contact-container {
  margin-left: 25%;
  display: flex;
}

.social-contact {
  margin-left: 120px;
}

.contact-options {
  display: flex;
  flex-direction: column;
}

.contact-option {
  font-family: "Hind", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  width: fit-content;
}

#email::before {
  content: "alexbej07@gmail.com";
}

#instagram::before {
  content: "instagram";
}

#linkedin::before {
  content: "linkedin";
}

#dribbble::before {
  content: "dribbble";
}

/* animations */

@keyframes dropAnimation {
  from {
    opacity: 0;
    transform: perspective(50px) translate3d(350px, -70px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

@keyframes ripple {
  0% {
    scale: 0.8;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 0.8;
  }
}

/* media queries */

@media (orientation: landscape) {
  .small {
    height: 20vh;
  }

  .medium {
    height: 40vh;
  }

  .large {
    height: 60vh;
  }

  .xlarge {
    height: 80vh;
  }
}

@media (orientation: portrait) {
  .small {
    width: 20vw;
  }

  .medium {
    width: 40vw;
  }

  .large {
    width: 60vw;
  }

  .xlarge {
    width: 80vw;
  }
}

@media screen and (max-width: 1435px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: large;
  }

  .name {
    font-size: 45px;
  }

  .nav-title,
  .contact-title {
    font-size: 30px;
  }

  .char {
    font-size: 40px;
    height: 40px;
  }

  .vertical-lr {
    font-size: 50px;
  }

  .experience-wrapper {
    margin-right: 15%;
  }

  .profile-img {
    width: 350px;
  }

  .project-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 16px;
  }

  .name {
    font-size: 40px;
  }

  .nav-title,
  .contact-title {
    font-size: 25px;
  }

  .char {
    font-size: 35px;
    height: 35px;
  }

  .vertical-lr {
    font-size: 40px;
  }

  .experience-wrapper {
    margin-right: 10%;
    width: 70%;
  }

  .profile-img {
    width: 300px;
  }
}

@media screen and (max-width: 970px) {
  button {
    font-size: 14px;
  }

  .border {
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
  }

  .main {
    padding: 0 30px;
    justify-content: space-evenly;
    width: calc(100% - 60px);
    flex-direction: column;
  }

  .toggle-container {
    margin-right: 30px;
  }

  .logo {
    height: 45px;
  }

  .aleb-btn {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-width: 1px;
  }

  .checkbox {
    height: 40px;
    width: 80px;
    border-radius: 40px;
  }

  .checkbox::before {
    height: 40px;
    width: 40px;
    border-radius: 40px;
  }

  .checkbox:checked::before {
    left: 40px;
  }

  .dropdown-btn {
    height: 40px;
    width: 35px;
  }

  .dropdown-btn div {
    width: 35px;
    height: 4px;
  }

  .change .bar1 {
    transform: translate(0, 14px) rotate(-45deg);
  }

  .change .bar3 {
    transform: translate(0, -17px) rotate(45deg);
  }

  .intro {
    width: 90%;
  }

  .experience-wrapper {
    margin-right: 30px;
    width: 80%;
  }

  .profile-img {
    width: 250px;
  }

  .about-text {
    width: 50%;
  }

  .project-header {
    width: 95%;
  }

  .project-description {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 12px;
  }

  .border {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
  }

  .main {
    padding: 0 15px;
    width: calc(100% - 30px);
    height: calc(100% - 100px);
    margin-top: 100px;
  }

  .toggle-container {
    margin-right: 15px;
  }

  .checkbox {
    height: 20px;
    width: 40px;
    border-radius: 20px;
  }

  .checkbox::before {
    height: 20px;
    width: 20px;
    border-radius: 20px;
  }

  .checkbox:checked::before {
    left: 20px;
  }

  .name {
    font-size: 28px;
  }

  .char {
    font-size: 28px;
    height: 28px;
  }

  .nav-link {
    font-size: 11px;
  }

  .nav-title,
  .contact-title {
    font-size: 22px;
  }

  .copyright {
    font-size: 9px;
  }

  .experience-container {
    margin: 0 0 50px 0;
  }

  .experience-wrapper {
    margin-top: 0;
    margin-right: 0;
  }

  .about-container {
    flex-direction: column;
  }

  .profile-img {
    display: block;
    margin: auto;
  }

  .about-text {
    margin: auto;
    width: 90%;
  }

  .contact-container {
    margin: 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  .social-contact {
    margin: 0;
  }

  .project-title {
    font-size: 40px;
  }

  .project-theme {
    font-size: 14px;
  }

  .project-date {
    font-size: 12px;
  }

  .project-details {
    width: 20%;
  }
}

@media screen and (max-width: 560px) {
  .dropdown-content {
    max-width: 115px;
  }

  .dropdown-content a {
    padding: 6px 12px;
    margin: 8px 0;
    font-size: 12px;
  }
  
  .work-history {
    flex-direction: column;
  }

  .spaced-text {
    font-size: 14px;
    line-height: 26px;
  }

  .project-description {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .page-title {
    display: none;
  }

  .aleb-btn {
    padding: 0px;
    width: 20px;
    height: 20px;
    font-size: 9px;
  }

  .dropdown-btn {
    height: 20px;
    width: 20px;
  }

  .dropdown-btn div {
    width: 20px;
    height: 2px;
    border-width: 1px;
  }

  .change .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
  }

  .change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
  }

  .checkbox {
    margin: 0 15px;
  }

  .experience-wrapper {
    width: 100%;
  }

  .experience-container {
    margin: 0;
  }

  .profile-img {
    width: 150px;
  }

  .project-image {
    width: 100%;
  }

  .project-details {
    width: 30%;
  }

  .project-title {
    font-size: 30px;
  }

  .project-theme {
    font-size: 11px;
  }

  .project-date {
    font-size: 9px;
  }

  .project-description {
    width: 95%;
  }

  .chip {
    font-size: 11px;
  }
}
